[Unit]
Description=Cloud Bathroom Scale logging service
After=network.target

[Service]
# change these
User=...
Environment=DOC_ID=...
Environment=LED_GPIO=18

Type=simple
PermissionsStartOnly=true
ExecStartPre=-/bin/sh -c "echo $LED_GPIO > /sys/class/gpio/export"
ExecStartPre=/bin/sh -c "echo out > /sys/class/gpio/gpio${LED_GPIO}/direction"
ExecStartPre=/bin/chown $USER /sys/class/gpio/gpio${LED_GPIO}/value /dev/lirc0
ExecStart=/bin/sh -c "exec ${HOME}/cloud-bathroom-scale/cloud-bathroom-scale.py --led=$LED_GPIO $DOC_ID"
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
